 * {
     margin: 0;
     padding: 0;
 }

 html {
     font-size: var(--base-fs);
 }

 body {
     font-family: var(--ff-primary);
     background: #F8F8F8;
 }

 .logo {
     font-family: Libre Bodoni;
     color: white;
     font-size: 28px;
     margin: 5px 41px 5px 30px;
 }

 /* layout */
 .container {
     width: 1140px;
     margin: auto;
 }

 /* layout */
 .container-nav {
     width: 1366x;
     margin: auto;
 }

 .row {
     display: flex;
     flex-wrap: wrap;
 }

 /* gap - space between items */
 .gap-1 {
     gap: calc(var(--fs-xsm) * var(--spacer-xsm));
 }

 .gap-2 {
     gap: calc(var(--fs-xsm) * var(--spacer-sm));
 }

 .gap-3 {
     gap: calc(var(--fs-xsm) * var(--spacer-md));
 }

 .gap-4 {
     gap: calc(var(--fs-xsm) * var(--spacer-lg));
 }

 .gap-5 {
     gap: calc(var(--fs-xsm) * var(--spacer-xlg));
 }

 /* margin properties */
 .m-auto {
     margin-right: auto;
     margin-left: auto;
 }

 .ms-1 {
     margin-left: 100rem;
 }

 /*panel verde*/
 .top-nav {
     font-weight: var(--fw-med);
     font-size: var(--fs-rg);
     background: #839d2b;
 }

 .top-nav-v2 {

     font-weight: var(--fw-med);
     font-size: var(--fs-rg);
     background: #839d2b;
 }

 /*redondo del buscador*/
 .search-nav {
     border-radius: 7rem;
     width: 38rem;
 }

 .main-title {
     font-size: var(--fs-mdl);
 }

 /*------------------------------------*/

 /*centra el menu*/
 .align-menu {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 /*------------------------------------*/

 /* ocultar puntos */
 .top-nav-item {
     list-style-type: none;
 }

 .invisible-point {
     list-style-type: none;
 }

 /*------------------------------------*/

 /* usado para cards */
 .card-margin {
     margin-left: -250px;
 }

 .btn-type {
     position: relative;
     /*right: -70px;*/
     margin-left: 1.5rem;
     top: 6px;

 }

 .card-size {
     width: 98%;
 }

 .card-size-top-10 {
     width: 101%;
 }

 .color-card {
     background-color: #839d2b;
 }

 .card {
     height: 100%;
 }

 /*------------------------------------*/

 .spacing {
     word-spacing: (me-auto, mb-2, mb-lg-0, me-2);
 }

 .size {
     height: 115px;
     font-weight: 115px;
 }

 .color-light {
     background: #839d2b;
 }

 .line {
     border: 1px solid white;
     border-radius: 5px;
 }

 .icon-size {
     height: 2.5rem;
     width: 2.5rem;
     margin-top: 8px;
 }

 .user-size {
     height: 3.5rem;
     width: 3.5rem;
 }

 .elements-l {
     display: inline;
     display: flex;
 }

 .carousel {
     width: 70%;
     margin: auto;
     margin-top: 5rem;
 }

 .carousel-inner {
     position: relative;
     width: 100%;
     height: 40rem;
     overflow: hidden;
 }

 .carousel-item {
     height: inherit;
 }

 .total-size {
     height: 6rem;
 }

 .center-object {
     padding: 10px;
     margin: 1px;
 }

 .top-contact {
     margin-top: 2.8rem;
 }

 .footer-size {
     height: 19rem;
 }

 .img-container {
     text-align: center;
     display: block;
 }

 .margin-text {
     margin: revert;
 }

 .centrado {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .btn-margin {
     margin: 50px;
     margin-top: 2rem;
 }

 .opacity-card {
     color: #839d2b;
     opacity: 1;
 }

 .opacity-card:hover {
     color: #839d2b;
     opacity: 0.5;
 }

 .text-size {
     font-size: 20px;
 }

 .format {
     border-radius: 5rem;
     background-color: #D44F1E;
     border: #839d2b;
     width: 13rem;
     border-radius: 50px 50px 50px 50px;
 }

 .boton {
     background-color: #D44F1E;
     border: #839d2b;
 }

 .boton:hover {
     opacity: 0.70;
     -moz-opacity: .50;
     filter: alpha (opacity=50);
 }

 .border-square {
     border-radius: 100rem;
 }

 .register-line {
     display: flex;
 }

 .shorter-space {
     width: 48rem;

 }

 .image-register {
     height: 24rem;
     width: 30rem;
 }

 .register-text {
     font-size: x-large;
 }

 .color-table {
     --bs-table-bg: #839d2b;
     color: white;
 }

 .text-shadow {
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
 }

 .stretched-link {
     text-decoration: underline;
     margin-bottom: 10px;
     /* cursor: pointer;
     width: fit-content;
     margin: auto; */
 }

 .card-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     background: #716C67;
     opacity: 80%;
     box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
     margin: 1rem 3rem;
     border-radius: 12px;
 }

 .card {
     width: 300px;
     margin: 10px;
     padding: 20px;
     background-color: #f2f2f2;
     border-radius: 8px;
     text-align: center;
 }

 .btn-containers {
     z-index: 999;
 }

 .card-button {
     background: #839D2B;
     border: none;
     padding: 0 12px;
     color: white;
     border-radius: 10px;
 }

 .image-container {
     width: 100%;
     padding-bottom: 100%;
     position: relative;
     overflow: hidden;
 }

 .image-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 8px;
     border: 5px solid #839d2b;
     position: absolute;
     top: 0;
     left: 0;
 }

 .header-button {
     color: white;
     padding: 5px 20px;
     font-family: sans-serif;
     border: none;
     border-radius: 15px;
     box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
     margin: 10px 15px;
     min-width: 140px;
 }

 .bg-orange {
     background: #F7A846EB;
 }

 .bg-input-orange {
     background: #F8A43B94;
 }

 .bg-input-grey {
     background: #716C6761;
 }

 .bg-olive {
     background: #716C6799;
 }

 .close-button {
     float: right;
     border: none;
     background: none;
     font-size: large;
 }


 /* Large devices (desktops, more than 1200px) */
 @media (min-width: 1199.99px) {
     .img-fluid {
         max-height: 300px;
         min-width: 900px;
     }
 }

 /* Large devices (desktops, less than 1200px) */
 @media (max-width: 1199.98px) {
     .img-fluid {
         min-width: 550px;
         max-height: 225px;
     }
 }

 /* Medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) {
     .img-fluid {
         min-width: 290px;
         max-height: 265px;
     }

     .card-size-top-10 {
         width: 103%;
     }

     /*.text-size{
    font-size: 10px;
}*/
     .margin-carrusel {
         margin-top: 5rem;
     }

     .row-cols-md-5>* {
         width: 33.33%;
     }

     .recipe-data {
         font-size: 100%;
         margin: 2rem 0rem;
     }

 }


 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {}

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
     .margin-carrusel {
         margin-top: 3rem;
     }

     .row-cols-md-5>* {
         width: 100%;
     }

 }