/*CUSTOM PROPERTIES*/

/*FAMILY WEIGTH*/
$ff-primary: 'DM Sans';
$fw-reg: 400;
$fw-med: 500;
$fw-bold: 700;
$fw-xbold: 900;

/*SIZE*/
$fs-xsm: 1rem;
$fs-sm: 1.125rem;
$fs-rg: 1.25rem;
$fs-md: 1.5rem;
$fs-mdl: 2.125rem;
$fs-mdxl: 3rem;
$fs-lg: 4rem;
$fs-xlg: 5rem;

/*COLOR*/

$clr-whithe: #f7f4f1;
$clr-gray: #a9ada9;
$clr-orange: #ff9800;
$clr-green: #9DE093;
$clr-darck-green: #424841;